<html>
<head>
    <title>Annonce {{ annonce.content }}</title>
</head>

<body>
<h1>{{ annonce.content }}</h1><br>
<h2>{{ annonce.dateCreation|date('d/m/y H:i')}}</h2>
<img src="{{ annonce.image }}">
</body>
</html>