{% extends 'base.html.twig' %}

{% block title %}Hello AnnonceController!{% endblock %}

{% block body %}
    <h1>Les annonces</h1>
    {% if annonces|length == 0 %}
        <div>Il n'y a aucune annonce</div>
    {% else %}
        <table>
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Contenu
                    </th>
                    <th>
                        Date de création
                    </th>
                    <th>
                        Image
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for annonce in annonces %}
                    <tr>
                        <td>{{ annonce.id }}</td>
                        <td>{{ annonce.content }}</td>
                        <td>{{ annonce.dateCreation|date('d/m/Y H:i') }}</td>
                        <td><img style="max-width: 100px" src="{{ annonce.image }}"></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
