<html>
<head>

</head>
<body>
<h1>Mes catégories</h1>

{% if categories|length == 0 %}
    <div>Aucune catégorie en base de données</div>
    {% else %}
        <table>
            <thead>
                <tr>
                    <td>#</td>
                    <td>Nom</td>
                </tr>
            </thead>
            <tbody>
            {% for categ in categories %}
                <tr>
                    <td>{{ categ.id }}</td>
                    <td>{{ categ.nom }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

{% endif %}
</body>
</html>